@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&family=Playfair+Display&family=Poppins&display=swap');


* {
  margin: 0;
  padding: 0;
}

.section-title {
  font-family: Merriweather;
  font-weight: 900;
}

.banner {
  width: 85%;
  max-width: 1220px;
  margin: 30px auto;
  position: relative;
  text-align: center;
  border-radius: 16px;
}

.banner-title {
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  font-weight: 900;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
  border-radius: 16px;
}

.banner .banner-img img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 600px;
}

.banner .banner-text {
  width: 525px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-style: normal;
  line-height: normal;
}

.banner .banner-title .banner-text h3 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: Merriweather;
}

.banner .banner-title .banner-text h1 {
  font-size: 50px;
  line-height: 60px;
}


.discount {
  width: 85%;
  max-width: 1220px;
  margin: 100px auto;
  text-align: center;
  font-family: Inter;
}

.discount-text h1 {
  color: #F00;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.discount-text h3 {
  color: #F00;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.discount-text h2 {
  color: #070211;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.discount .discount-img {
  max-width: 650px;
  margin: auto;
}

.discount .discount-img img {
  width: 100%;
}

.midnight-party {
  position: relative;
  width: 85%;
  max-width: 1220px;
  margin: 100px auto;
  border-radius: 16px;

}

.midnight-party-content {
  display: flex;
  flex-direction: column;
}

.midnight-party .main-img {
  width: 100%;
}

.midnight-party .midnight-party-content {
  color: white;
  position: absolute;
  width: 100%;
  top: 40%;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(-30%);
  justify-content: space-around;
}

.midnight-party .midnight-party-text h1 {
  max-width: 525px;
  color: #FFF;
  font-family: Merriweather;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 7.04px;
  margin-bottom: 24px;

}

.midnight-party .midnight-party-text p {
  max-width: 560px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 48px;
}

.midnight-party .midnight-party-text button {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 5px 20px;
}


.midnight-party .midnight-party-text button:hover {
  cursor: pointer;
  outline: 1px solid rgba(255, 255, 255, 0.80);
  /* border: 1px solid rgba(255, 255, 255, 0.80); */
}

.midnight-party-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.918) 0%,
      rgba(0, 0, 0, 0.048) 100%);
  border-radius: 16px;
}

.midnight-party-year-img {
  max-width: 280px;
}

.midnight-party-year-img img {
  width: 100%;
}

.event {
  position: relative;
  width: 85%;
  max-width: 1220px;
  margin: 0 auto;

}

.event .event-text {
  text-align: center;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  text-transform: capitalize;
  padding: 100px 380px;
  z-index: 10;

}

.event-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.important {
  color: #F00;
}

.event .event-text button {
  background-color: #F00;
  padding: 10px 20px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
}

.event .event-text button:hover {
  cursor: pointer;
  outline: 1px solid rgba(255, 255, 255, 0.80);
  scale: 1.1;
  /* border: 1px solid rgba(255, 255, 255, 0.80); */
}


.coming-soon {
  position: relative;
  width: 85%;
  max-width: 1220px;
  margin: 100px auto;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  background: #FFF;
  align-items: center;
}

.coming-soon .coming-soon-text {
  width: 300px;
}

.coming-soon .coming-soon-text h3 {
  color: #F00;
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.coming-soon .coming-soon-text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.coming-soon .coming-soon-text p {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.coming-soon .coming-soon-img {
  max-width: 364.844px;
  max-height: 364.844px;
  padding: 20px;
  border: 10px solid red;
  border-radius: 50%;
}

.coming-soon .coming-soon-text-img {
  max-width: 300px;
  max-height: 100%;
}

.coming-soon .coming-soon-img img {
  width: 100%;
}


.coming-soon .coming-soon-text-img .coming-soon-year-text h1 {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 12px;
}

.coming-soon .coming-soon-text-img .coming-soon-year-text p {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 160% */
  margin-bottom: 35px;
}

.coming-soon-text-second-img {
  max-width: 140px;
}

.coming-soon-text-second-img img {
  width: 100%;
}

.holiday-sale {
  position: relative;
  width: 85%;
  max-width: 1220px;
  margin: 100px auto;
  border-radius: 16px;
}

.holiday-sale .holiday-sale-text {
  text-align: center;
  margin: 0 150px;
}

.holiday-sale .holiday-sale-text h4 {
  color: #070211;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

}

.holiday-sale .holiday-sale-text h1 {
  text-align: center;
  font-family: Merriweather;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 16px;
}

.holiday-sale .holiday-sale-text p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
  margin-top: 28px;
  margin-bottom: 60px;
}

.holiday-sale {
  width: 85%;
  max-width: 1220px;
  margin: 100px auto;
  border-radius: 16px;
  position: relative;
}

.holiday-sale-img {
  display: flex;
  flex-direction: column;
}

.holiday-sale-img-up {
  display: flex;
  justify-content: end;
  position: relative;
}

.holiday-sale-img-down,
.holiday-sale-img-up {
  max-width: 1220px;
}

.holiday-sale-img-down img {
  width: 100%;
}

.circle-discount-img {
  position: absolute;
  top: 18%;
  left: 52%;
}

.gift-box-img {
  width: 650px;
  position: absolute;
  left: 2%;
  top: 20%;
}

.portfolio {
  width: 85%;
  max-width: 1220px;
  margin: 100px auto;
  border-radius: 16px;
  position: relative;
}

.portfolio-content {
  width: 100%
}

.portfolio .portfolio-text {
  max-width: 700px;
  text-align: left;
}

.portfolio .portfolio-text h3 {
  color: #F00;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px;
}

.portfolio .portfolio-text h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.portfolio .portfolio-text p {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 160% */
  margin-bottom: 30px;
}

.portfolio-img-content {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

}

.text-img {
  max-width: 400px;
}

.portfolio-img-content img {
  width: 100%;
  border-radius: 17px;
}

.portfolio-img-content img:hover {
  cursor: pointer;
  outline: 5px solid rgb(204, 201, 201);
  scale: 1.01;
}

.subscribe {
  width: 85%;
  max-width: 1220px;
  margin: 100px auto;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.subscribe-img {
  max-width: 150px;
  margin: 30px auto;
}

.subscribe-img img {
  width: 100%;
}

.subscribe-text h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.subscribe-text p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 700px;
  margin: auto;
}

.subscribe-form{  
  margin: 20px auto 30px;
  position: relative;
  left: -8%;
  /* position: relative; */
}

.email-input {
  border-radius: 50px 0 0 50px;
  background: #FFF;
  width: 400px;
  height: 50px;
  padding: 0 0 0 30px;
  border: none;
  
}

.btn-subscribe {
  /* position: absolute; */
  height: 50px;
  width: 200px;
  border-radius: 0px 50px 50px 0px;
  background: #F00;
  border: none;
  color: #FFF;
  position: absolute;
  
}

.email-input::placeholder{
  color: rgba(7, 2, 17, 0.30);
  text-align: left;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.btn-subscribe:hover{
  cursor: pointer;
  scale: 1.01;
}


footer{
  width: 100%;
  background-color: black;
}

.footer-content{
  width: 85%;
  max-width: 1220px;
  margin: auto;
}

.footer-address-contact, .footer-reserved-unsubscribe{

  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
}

.footer-address-contact{
  padding: 40px 0 20px 0;
}

.footer-reserved-unsubscribe{
  padding: 20px 0 40px 0;
}

.social-media-img{ 
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 3px;
}

.media-img{
  max-width: 64px;
}

.media-img img{
  width: 80%;
}

.line{
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}

.footer-contact-align{
  display: block; display: flex; gap:3px;
}
